html,body{

  font-family: 'Microsoft YaHei';
  color: #333;
  background-color: #fff;
}
*{
  box-sizing: border-box;
  /* 解决Chrome的滑动报错 */
  touch-action: pan-y;
}
h2,p,h1{
  margin: 0;
}
html,body,#root,.App{
  height: 100%;
}
html,body{
  margin: 0;
  padding: 0;
}   